/* Hayley Corson-Dosch style sheet */

/* div {
	display: block;
} */

.navbar-nav {
	padding-left: 10px;
}

.navbar {
	padding-left: 0%;
	padding-top: 0px;
	padding: .2rem .2rem;
}

.nabbar-toggle {
	background-color: white;
}

.navbar-toggler {
	border: none;
}

.nav-link {
	line-height: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.jumbotron {
	background-color: #ffffff;
	padding: 30px 0px 0px 0px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
}

.jumbotron h1 {
	color: #1c1c1c;
	font-size: 2.8em;
	text-align: center;
	font-weight: 200;
}
@media screen and (max-width: 600px) {
  .jumbotron h1 {font-size: 1.8em;}
}

.jumbotron h2 {
	color: #1c1c1c;
	font-size: 2.3em;
	text-align: center;
	font-weight: 200;
}

.jumbotron p {
	color: #666666;
	font-size: 1.47em;
	text-align: center;
	font-weight: 200;
	/* font-style: ExtraLight; */
}
@media screen and (max-width: 600px) {
  .jumbotron p {font-size: 0.948em;}
}

.jumbotron h3 {
	color: #303030;
	font-size: 0.22em;
	text-align: left;
	font-weight: 200;
}

.jumbotron a {
	color: #303030;
	font-size: 0.75em;
	text-align: left;
	font-weight: 400;
}

.photo {
	text-align: center;
}

.hayley_photo {
	border-radius: 2px;
}

.introText {
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.introText a {
	font-weight: 400;
	color: #000000;
}

.mapboxgl-canvas {
	left: 0;
}


.row {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.column {
    /* flex: 25%;
    max-width: 25%; */
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
}

.horiz-thumbnail {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}

.vert-thumbnail {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.info-graphic {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}

.indexText {
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.indexText a {
	font-weight: 400;
	color: #000000;
}

.footer-text {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-size: 5em;
}

.img_test {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.1);
}
