/* Hayley Corson-Dosch style sheet */

/* div {
	display: block;
} */

.navbar-nav {
	padding-left: 10px;
}

.navbar {
	padding-left: 0%;
	padding-top: 0px;
	padding: .2rem .2rem;
}

.nabbar-toggle {
	background-color: white;
}

.navbar-toggler {
	border: none;
}

.nav-link {
	line-height: 14px;
}

.jumbotron {
	background-color: #ffffff;
	padding: 20px 0px 0px 0px;
	margin-bottom: 0px;
}

.jumbotron h2 {
	color: #1c1c1c;
	font-size: 35px;
	text-align: center
}

.jumbotron p {
	color: #666666;
	font-size: 20px;
	text-align: center;
}

.jumbotron b {
	color: #666666;
	font-size: 20px;
	text-align: left;
}

.jumbotron a {
	color: #666666;
	font-size: 20px;
	text-align: left;
}

.photo {
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.column {
    /* flex: 25%;
    max-width: 25%; */
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
}

.horiz-thumbnail {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}

.vert-thumbnail {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.info-graphic {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}

.indexText {
	text-align: justify;
	font-style: normal;
	font-family: sans-serif;
}

.footer-text {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-size: 5em;
}

.img_test {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.1);
}
